@page
@functions
{
  public string? DayName { get; set; }

  public void OnGet()
  {
    ViewData["Title"] = "Northwind B2B";
    DayName = DateTime.Now.ToString("dddd");
  }
}
<div class="jumbotron">
  <h1 class="display-3">Welcome to @ViewData["Title"]</h1>
  <p class="lead">We supply products to our customers.</p>
  <hr />
  <p>It's @DayName! Our customers include restaurants, hotels, and cruise lines.</p>
  <p>
    <a class="btn btn-primary" href="suppliers">
      Learn more about our suppliers
    </a>
  </p>
  <p>
    <a class="btn btn-primary" href="packtfeatures/employeeslist">
      Contact our employees
    </a>
  </p>
  <p>
    <a class="btn btn-primary" href="customers">
      Exercise 13.4: Customers by Country
    </a>
  </p>
  <p>
    <a class="btn btn-primary" href="functions">
      Exercise 13.5: Functions
    </a>
  </p>
</div>
