@page "/timestable/{Number:int}/{Size:int?}"
<PageTitle>@Number times table</PageTitle>
<h3>@Number Times Table</h3>
<table>
  @for (int i = 1; i <= TableSize; i++)
  {
    <tr><td>@string.Format($"{i} x {Number} = {i * Number}")</td></tr>
  }
</table>
@code {
  [Parameter]
  public int Number { get; set; }
  [Parameter]
  public int? Size { get; set; } = 12;
  public int TableSize { get; set; }

  protected override void OnParametersSet()
  {
    TableSize = Size ?? 12;
  }
}
