@rendermode RenderMode.InteractiveAuto

<PageTitle>Fibonacci</PageTitle>

<h1>Fibonacci</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
  private int currentCount = 0;

  private void IncrementCount()
  {
    currentCount++;
  }
}
